The content below is only a placeholder and can be replaced.
 <app-mission-control></app-mission-control>
<app-astronaut></app-astronaut>
 <app-readcrud></app-readcrud>
<app-addcrud></app-addcrud>
<app-updatecrud></app-updatecrud>
<button (click)="createemployee()">Create</button>
<button (click)="updateemployee()">Update</button>
<button (click)="deleteemployee()">Delete</button>
<button (click)="editemployee()">editemployee</button>
<div>
    <router-outlet></router-outlet>
</div>


 <app-editemployee></app-editemployee>


<app-createemployee></app-createemployee>


<app-studenthome></app-studenthome><br><app-studentread></app-studentread>

<app-getstudent></app-getstudent>

